/* Container principal do tabuleiro */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.status {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
}

/* Cada uma das 3 linhas de quadrados */
.boardRow {
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 100px;

}